# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 
# See README for more details.

MONGODB_URI=mongodb://<user>:<password>@<connection_url>
MONGODB_URI_LOCAL=mongodb://localhost:27017/<database>

# Put lots of randomness in these
SESSION_SECRET=ashdfjhasdlkjfhalksdjhflak
